.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("../images/hero.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &__logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem;
  }

  &__logo {
    color: $color-white;
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: 0.5rem;
    background-color: $color-grey-dark;
    padding: 2rem 5rem;
    height: 10rem;
    clip-path: polygon(0 50%, 50% 0, 100% 50%, 50% 100%);
    .first-name,
    .last-name {
      display: block;
      text-align: center;
    }
  }

  &__text-box {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
